
<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="form input-group mb-3">
    <form action="/answer" method="get" >
      <input class="formfield" type="text" name="question" value="Ask your coach anything">
      <input class="btn btn-outline-secondary" type="submit" value="Ask!">
    </form>
  </div>
</div>
